.navigation {
  width: 100%;
  border-bottom: 1px solid #eff2f7;
  color: #576a75;
  font-size: 14px;
  line-height: 16px;
  .pages {
    width: 100%;
    display: flex;
    .page {
      flex-basis: 50%;
      a {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 48px;
        &.active,
        &:hover {
          background: #eff2f7;
        }
      }
    }
  }
}
